priority -50

snippet code "C snip"
  \`\`\`c
  ${0}
  \`\`\`

snippet txt "text snip"
  \`\`\`txt
  ${0}
  \`\`\`

snippet chisel "chisel snip"
  \`\`\`scala
  ${0}
  \`\`\`

snippet img "add img"
  <details> <summary>click me</summary> <p align="center"> <img src="${0}" /> </p> </details>
